@font-face {
  font-family: 'iconfont';  /* project id 1597644 */
  src: url('//at.alicdn.com/t/font_1597644_7cvviid438i.eot');
  src: url('//at.alicdn.com/t/font_1597644_7cvviid438i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1597644_7cvviid438i.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1597644_7cvviid438i.woff') format('woff'),
  url('//at.alicdn.com/t/font_1597644_7cvviid438i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1597644_7cvviid438i.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e647";
}

.icon-xiaoxitongzhi:before {
  content: "\e6ba";
}

.icon-run:before {
  content: "\e643";
}

.icon-tongzhi:before {
  content: "\e62d";
}

.icon-arrowdown:before {
  content: "\e61a";
}

.icon-arrow:before {
  content: "\e601";
}

.icon-jinggaolei:before {
  content: "\e615";
}

.icon-tuichudenglu:before {
  content: "\e648";
}

.icon-tongzhi1:before {
  content: "\e61e";
}

.icon-search:before {
  content: "\e644";
}

.icon-qianbi:before {
  content: "\e768";
}

.icon-shezhi:before {
  content: "\e771";
}

